<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Social council Nitt</title>
  <link rel="stylesheet" href="/static/assests/css/main.css">
</head>
<body>


<div class="cont">
<img src="../static/assests/img/clock tower.jfif" class="img"  width="150" height="150">
  <h1 style="color:white;font-size:90px; padding:-60px; margin:0px;">SOCIAL COUNCIL</h1>
<p style="color: #F7EC09;font-size:48px; padding:-40px; margin:0px; ">National institute of technology, trichy</p>

</div>
<div class="button">
<button class="button1">  <a href="home" style="text-decoration: none; color: azure;">I am student</a></button>
<button class="button2"><a href="registration" style="text-decoration: none; color: azure;">I am faculty</a></button>
</div>
<img src="../static/assests/img/SC.png" class="im"  width="150" height="150">

</body>
</html>
