
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/assests/css/reg.css">
  </head>
  <body>
    <div class="regform">
      <h1>Registration Form</h1>
    </div>
    <div class="main">
      <form>


      <h2 class="name">Email:-</h2>
      <input class="email" type="text" name="email">

      <h2 class="name">Passward:-</h2>
      <input class="passward" type="charset" name="message">
      <button type="login">Login</button>

       </form>
    </div>
  </body>
</html>
